schema/ukrdc/UKRDC.xsd

<xs:schema targetNamespace="http://www.rixg.org.uk/" version="2.4.0" xmlns="http://www.rixg.org.uk/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="Patient.xsd"/>
    <xs:include schemaLocation="Allergies/Allergy.xsd"/>
    <xs:include schemaLocation="ClinicalRelationships/ClinicalRelationship.xsd"/>
    <xs:include schemaLocation="Diagnoses/CauseOfDeath.xsd"/>
    <xs:include schemaLocation="Diagnoses/Diagnosis.xsd"/>
    <xs:include schemaLocation="Diagnoses/RenalDiagnosis.xsd"/>
    <xs:include schemaLocation="Documents/Document.xsd"/>
    <xs:include schemaLocation="Encounters/Encounter.xsd"/>
    <xs:include schemaLocation="Encounters/TransplantList.xsd"/>
    <xs:include schemaLocation="Encounters/Treatment.xsd"/>
    <xs:include schemaLocation="FamilyHistories/FamilyHistory.xsd"/>
    <xs:include schemaLocation="LabOrders/LabOrder.xsd"/>
    <xs:include schemaLocation="Medications/Medication.xsd"/>
    <xs:include schemaLocation="Observations/Observation.xsd"/>
    <xs:include schemaLocation="OptOuts/OptOut.xsd"/>
    <xs:include schemaLocation="Procedures/DialysisSession.xsd"/>
    <xs:include schemaLocation="Procedures/Procedure.xsd"/>
    <xs:include schemaLocation="Procedures/Transplant.xsd"/>
    <xs:include schemaLocation="Procedures/VascularAccess.xsd"/>
    <xs:include schemaLocation="ProgramMemberships/ProgramMembership.xsd"/>
    <xs:include schemaLocation="SocialHistories/SocialHistory.xsd"/>
    <xs:include schemaLocation="Surveys/Survey.xsd"/>
    <xs:include schemaLocation="Types/PVData.xsd"/>
    <xs:include schemaLocation="Types/SendingExtract.xsd"/>

    <xs:simpleType name="SendingFacilityString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="7" />
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="PatientRecord">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" name="SendingFacility">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="SendingFacilityString">
                                <xs:attribute name="channelName"/>
                                <xs:attribute name="channelId"/>
                                <xs:attribute name="time"/>
                                <xs:attribute name="schemaVersion"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="1" name="SendingExtract" type="SendingExtract">
                    <xs:annotation>
                        <xs:documentation>The extract process within the facility which produced this file.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="1" name="Patient" type="Patient"/>
                <xs:element minOccurs="0" name="LabOrders" type="LabOrders">
                    <xs:annotation>
                        <xs:documentation>Lab Orders. These are measurements taken about a patient that have been processed by a Laboratory.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="SocialHistories">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="SocialHistory" type="SocialHistory"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="FamilyHistories">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="FamilyHistory" type="FamilyHistory"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="Observations" type="Observations">
                    <xs:annotation>
                        <xs:documentation>Observations. These are measurements taken about a patient that do not involve a Laboratory.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="Allergies">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Allergy" type="Allergy"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="Diagnoses">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Diagnosis" type="Diagnosis">
                                <xs:annotation>
                                    <xs:documentation>Co-Morbidities</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="CauseOfDeath" type="CauseOfDeath">
                                <xs:annotation>
                                    <xs:documentation>Cause of Death</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="RenalDiagnosis" type="RenalDiagnosis">
                                <xs:annotation>
                                    <xs:documentation>Primary Renal Diagnosis</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="Medications">
                    <xs:annotation>
                        <xs:documentation>Medications</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Medication" type="Medication"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="Procedures">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Procedure" type="Procedure"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="DialysisSession" type="DialysisSession">
                            <xs:annotation>
                                    <xs:documentation>Dialysis Sessions</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Transplant" type="TransplantProcedure">
                                <xs:annotation>
                                    <xs:documentation>Transplant Procedures</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="VascularAccess" type="VascularAccess">
                                <xs:annotation>
                                    <xs:documentation>Vascular Access Constructions</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="Documents">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Document" type="Document"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="Encounters">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Encounter" type="Encounter">
                                <xs:annotation>
                                    <xs:documentation>This is used to record the duration of something other than a Treatment. This element should not be submitted without prior discussion with the UKRR.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Treatment" type="Treatment">
                                <xs:annotation>
                                    <xs:documentation>This is used to record the duration a Patient received a particular type of Care/Treatment at a particular Treatment Facility. It is similar in concept to the UKRR TXT records however at the end of the period it should be end-dated rather than an additional record being sent.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="TransplantList" type="TransplantList">
                                <xs:annotation>
                                    <xs:documentation>This is only for NHSBT supplied Transplant Waiting List data.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="ProgramMemberships">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="ProgramMembership" type="ProgramMembership"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="OptOuts">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="OptOut" type="OptOut"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="ClinicalRelationships">
                    <xs:annotation>
                        <xs:documentation>This is used to record the relationship between a Patient and a Clinician or Care Facility. This element should not be submitted without prior discussion with the UKRR.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="ClinicalRelationship" type="ClinicalRelationship"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="Surveys">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Survey" type="Survey"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="PVData" type="PVData">
                    <xs:annotation>
                        <xs:documentation>This is used internally to hold data items sent in PV XML files and should not be sent by external parties.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
